<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 마이바티스 기본코드 -->    
<mapper namespace="org.mbc.mapper.BoardMapper"><!-- 인터페이스명 -->

<!-- CDATA는 쿼리문의 특수문자가 연산자가 아닌 글자 처리용 -->
	<select id="getList2" resultType="org.mbc.domain.BoardVO">
		<!-- id는 메서드 명                 결과타입은 BoardVO 객체 -->
		<![CDATA[
			select * from tbl_board where bno > 0 
		]]>
	</select>
	
	<update id="update">
		<![CDATA[
			update tbl_board set title=#{title}, content=#{content}, writer=#{writer},
			updateDate=sysdate where bno=#{bno}
		]]>	
	</update>	
	
</mapper>